[data-ng-cloak], [ng-cloak]{
    display:none !important;
}

.panel-footer.footer-info{background-color: #d9edf7;}

.panel-footer.footer-success{background-color: #dff0d8;}

.panel-footer.footer-warning{background-color: #fcf8e3;}

.tasksContainer{
    min-height: 600px;
}
.taskList{
    height: 550px;
}
.taskListCollapased{
    height: 80px;
}
.panel{
    position:relative;
}
.panel-footer.footerBottom{
    position:absolute;
    width:100%;
    bottom:0;
}
.panel-footer.footerNormal{
    position:relative;
    width:100%;
}
.clickable{
    cursor: pointer;
}
